<div content="game">
  <h1>Let's play</h1>
  <canvas id="busyverse" width="800" height="500"></canvas>
  
  <form id="terminal">
    <input type="text" id="prompt" value="Welcome"></input>
    <input type="submit" value="SEND">
  </form>
</div>
