<div content="game">
  <div id="header">
    <table>
      <tr>
        <td>
          <h2>
            BUSYVERSE
            <small>v0.0.1</small>
          </h2>
        </td>
        
        <td>
          <ul>
            <li>+/- to zoom</li>
            <li>click to recenter map</li>
            <li>space to return home</li>
          </ul>
        </td>
        <td>
          <ul>
            <li class="command">gather</li>
            <li class="command">build</li>
          </ul>
        </td>
        <td>
          <ul>
            <li class="command">wander</li>
            <li class="command">idle</li>
          </ul>
        </td>

        <td style="border-left: 1px dotted grey; padding: 10px">
          <form id="terminal">
            tell
            <select id="target"></select>
            to
            <input type="text" id="prompt" value="gather"></input>
            <input type="submit" value="now">
          </form>
        </td>
        <td style="background-color: #666; max-width: 400px">
          <span id="response">
          </span>
        </td>
      </tr>
    </table>
  </div>

  <canvas id="busyverse" width="2840" height="1520"></canvas>
</div>

<script language="javascript">
  Busyverse.kickstart();
  Busyverse.createWorker = function() {
    return new Worker("<%= javascript_path 'worker_manifest.js' %>");
  };
</script>
