<div content="game" id="wrapper">
  <div id="content">
    <canvas id="busyverse" width="2840" height="1760"></canvas>
  </div>
</div>

<script language="javascript">
  Busyverse.kickstart();
  Busyverse.createWorker = function() {
    return new Worker("<%= javascript_path 'worker_manifest.js' %>");
  };
</script>
