<div content="game">
  <h2>
    BUSYVERSE
    <small>v0.0.1</small>
  </h2>

  <canvas id="busyverse" width="800" height="600"></canvas>
  
  <form id="terminal">
    <p>Enter commands here:</p>
    <input type="text" id="prompt" value="Welcome"></input>
    <input type="submit" value="SEND">
  </form>
</div>

<script language="javascript">
  Busyverse.kickstart();
  Busyverse.worker = new Worker("<%= javascript_path 'worker_manifest.js' %>")

  Busyverse.worker.onmessage = function(result) {
    console.log("WORKER ON MESSAGE");
    console.log(result);
    Busyverse.engine.handleWorkerResult(result.data);
  };
</script>
