<div content="game">
  <h2>
    BUSYVERSE
    <small>v0.0.1</small>
  </h2>

  <canvas id="busyverse" width="600" height="400"></canvas>
  
  <form id="terminal">
    <p>Enter commands here:</p>
    <input type="text" id="prompt" value="Welcome"></input>
    <input type="submit" value="SEND">
  </form>
</div>
