<div content="game">
  <div>
    <table>
      <tr>
        <td>
          <h2>
            BUSYVERSE
            <small>v0.0.1</small>
          </h2>
        </td>
        <td style="padding: 5px">
          <form id="terminal">
            <input type="text" id="prompt" value="Welcome"></input>
            <input type="submit" value="SEND">
          </form>
          
        </td>
        <td>
          <span id="response">
          </span>
        </td>
        <td>
          <ul>
            <li>gather</li>
            <li>build</li>
            <li>wander</li>
            <li>idle</li>
          </ul>
        </td>
      </tr>
    </table>
  </div>

  <canvas id="busyverse" width="1080" height="720"></canvas>
</div>

<script language="javascript">
  Busyverse.kickstart();
  Busyverse.createWorker = function() {
    return new Worker("<%= javascript_path 'worker_manifest.js' %>");
  };
</script>
