// Place all the styles related to the game controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: #000000;
  color: #efefef;
}

#busyverse {
  width: 800px;
  height: 600px;
}
