// Place all the styles related to the game controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: #001;
  color: #efefef;
}

#header {
  font-family: helvetica;
  background-color: #445;
  color: #010;
  height: 80px;
}

//td { margin: 5px; padding: 5px; }

.command {
  color: #3a4
}

#response {
  font-family: courier;
  font-size: 7pt;
  max-width: 80px;
}

#busyverse {
  width: 1280px;
  height: 800px;
  position: relative;
}
